@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.125fr 1fr 0.125fr;
  background-image: url(./images/photo-1589496933738-f5c27bc146e3.jpg);
  font-size: 15px;
  color: white;
  max-width: 1000px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  font-size: 35px;
  text-align: center;
  align-content: center;
}

main {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  align-content: center;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  gap: 5px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  scroll-behavior: smooth;
}

section h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
div.goal-entry {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(225, 212, 27);
  border-radius: 10px;
  gap: 5px;
  padding-left: 5px;
  color: black;
}

div.goal-entry h1 {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

#submit-btn {
  max-width: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
button:hover {
  cursor: pointer;
  border: 2px solid rgb(51, 255, 0);
}
footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#task-complete {
  margin: 5px;
}

#opt1 {
  background-color: red;
}

#opt2 {
  background-color: yellow;
}

#opt3 {
  background-color: green;
}

#checkbox-id:hover {
  cursor: pointer;
}

label {
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

input {
  height: 30px;
  font-weight: bold;
  padding: 5px;
}
select {
  height: 30px;
  font-weight: bold;
  padding: 5px;
}

textarea {
  font-weight: bold;
  padding: 5px;
}

input:invalid {
  border: 2px solid red;
}

textarea:invalid {
  border: 2px solid red;
}

button {
  font-weight: bold;
}

#point-container{
  display: none;
}