@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.125fr 1fr 0.125fr;
  background-color: aqua;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: blue;
  margin: 5px;
}

main {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: chocolate;
  margin: 5px;
}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: darkgreen;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

#task-complete {
  margin: 5px;
}
