@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.125fr 1fr 0.125fr;
  background-color: aqua;
  font-size: 15px;
    
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: blue;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  align-content: center;
}

main {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: blueviolet;
  margin: 5px;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  gap: 5px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  
}

section h1{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
div.goal-entry{
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(225, 212, 27);
  border-radius: 10px;
  gap: 5px;
  padding-left: 5px;
}

button:hover {
  cursor: pointer;
}
footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: darkgreen;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#task-complete {
  margin: 5px;
}

#opt1 {
  background-color: red;
}

#opt2 {
  background-color: yellow;
}

#opt3 {
  background-color: green;
}

@media (min-width: 1000px){
  body {
  max-width: 70%;
}}